html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background: #ebebeb;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

::placeholder {
    color: #999;
    font-size: 15px;
}


.header {
    font-family: 'NanumBarunGothic', 'serif';
    display: flex;
    align-items: center;
    // justify-content: center;
    background:  #dcad67;
    color: black;
    margin-bottom: 50px;
    & p {
        display: inline-block;
        font-size:20px;
        font-family: 'NanumBarunGothic', monospace;
        text-align: center;
        padding: 5px;
        margin-right: 50px;
        color: white;
        font-weight: bolder;
        transition: 0.3s;
        cursor: pointer;
    }
    & p:hover {
        //transform: scale(1.1);
        color:#8b4513;
        box-shadow: 0 -2px 0 0px #8b4513 inset; 
        //background-color: black;
        //color: white;
    }
    & img {
        margin-left:20px;
        margin-right:20px;
        height:60px;
        cursor: pointer;
    }
}

.title-input, .writer-input {
    padding: 10px 10px 10px 0px;
    border: none;
    outline: none;
    background-color:#fff3dd00;
    
}

.title-input::placeholder {
    font-size: 18px;
}


.add-btn, .del-btn{
    box-shadow:inset 0px 0px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, rgb(255, 230, 0) 5%, rgb(255, 196, 0) 100%);
	border-radius:42px;
	border:2px solid #ffa200;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
    font-weight:bold;
	padding:7px 15px;
	text-decoration:none;
    text-shadow:0px 0px 50px #cc9f52;
    margin-right: 5px;
}   

.note-editor {    
    max-width: 600px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color:#fff3ddb6;
    border-radius: 20px;
    border:2px solid #f1d199;
    .tArea {
        overflow: auto;
        font-size: 13px;
        height: 180px;
        padding: 15px;
        resize: none;
        margin-top:4px;
        border: 3px solid rgba(0, 0, 0, 0.185);
        border-radius: 10px;
        &:hover {
            outline: 0;
        }
        &:focus {
            outline: 0;
        }
    }
}

.note-title {
    margin-right: 15px;
    outline: none;
}

.noteContainer {
    column-count: 6;
    column-gap: 1em;
    padding: 40px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/tileable_wood_texture.png');
}

.noteContainerHeader{
    padding: 10px;
    background: repeating-linear-gradient(45deg, #e1b771, #e1b771 11px, #cd8f49 0, #cd8f49 17px);
}

.homeNoteContainer {
    column-count: 6;
    column-gap: 1em;
    padding: 25px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/tileable_wood_texture.png');
}

.note {
    position: relative;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,90,250,0.05),
      0 4px 4px rgba(0,90,250,0.05),
      0 8px 8px rgba(0,90,250,0.05),
      0 16px 16px rgba(0,90,250,0.05);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    background: #fff;
    padding: 20px;
    word-break: break-word;
    cursor: pointer;
    grid-row-end: span 1;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.note-editor-bottom {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-wrap: wrap;
}

.delete {
    position: absolute;
    right: 25px;
    top: 25px;
}

.input-else, .selects {
    font-size: 15px;
    margin: 3px;
}

.note-bottom {
    text-align: right;
}

.date-text {
    font-style: italic;
    font-size:15px;
    padding:3px;
    background-color: lightgoldenrodyellow;
}

.writer-text {
    padding:3px;
    font-size:12px;
}

#img-writer {
    width: 12px;
    height: 12px;
}

.due-label {
    padding-left: 5px;
    padding-right: 5px;
}

.more {
    position: absolute;
    right: 45px;
    top: 25px;
}

.menuselect {
    position: absolute;
    right: 5px;
    top: 50px;
}

#fav-color {
    position: absolute;
    right: 20px;
    top: 50px;
}

#fa-edit {
    position: absolute;
    right: 70px;
    top: 25px;
}

.bar {
    z-index: 5;
    padding: 20px;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bar-comp {
    font-family: "Comic Sans MS";
    font-size: 15px;
    display: inline;
    margin: 5px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bolder;
    color: white;
    background-color: #ff8200;
    border-radius: 30px 1px;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.15);
}

#note-filter {
    font-family: "Comic Sans MS";
    font-weight: bolder;
    color: white;
    background-color: #ff8200;
    border: none;
}

#favcolor {
    margin-right:55px;
    margin-left: 5px;
}

#category-input {
    margin-left: 5px;
    margin-right: 2px;
}

.categoryInput {
    width: 80px;
}
.fa-search {
    width: 50px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    border-radius: 1.5em;
    font-size: 1rem;
    cursor: pointer;
    background: gold;
}

.fa-undo {
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin-left: 4px;
    display: block;
    text-align: center;
    border-radius: 1.5em;
    font-size: 1rem;
    cursor: pointer;
    background: rgb(154, 224, 48);
}

.noteSearchMenu {
    position: relative;
    margin-left: auto; 
    margin-right: auto;
    width: 30%;
    display: flex;
    height: 40px;
    font-weight: 100;
}

.noteSearchMenu input[type="search"] {
    flex: 1;
    margin-right: 10px;
    border: 0;
    border-radius: 1.5em;
    font-size: 1rem;
  }
.note-directory {
    width: 100%;
    height: 600px;
    overflow: auto;
}


.allNote {
    display: flex;
    background-image: url('../assets/tileable_wood_texture.png');
}

.noteList {
    position: relative;
    width: 20%;
    top: 30px;
    height: 80%;
    margin: 10px 30px 30px 10px;
    border-style: groove;
    border-width: 15px;
    border-color: #d2691E;
    border-radius: 10px;
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    background-image: url('../assets/handmadepaper.png');
    h2 {
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        text-align: center;
    }
}

.noteList:after{
    content: '';
    position: absolute;  
    width: 30px; height: 30px; 
    border: 1px solid #999;
    top: -30px; left: 46%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.noteList:before{
    content: '';
    position: absolute;
    width: 15px; height: 15px;
    top: -35px; left: 49%;
    z-index: 1;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(1deg); }
    100% { transform: rotate(-1deg); }
}

.listNote {
    background-color:  white;
    color: sienna;
    padding: 6px;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.effectButton{
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 3px;
    margin-bottom: 2px;
    padding: 5px 15px;
    border-color: #999;
    cursor: pointer;
}

.note-title {
    font-weight: bold;
    position: relative;
    margin-top: 30px;
}

.input-color {
    z-index: 2;
}

.input-search {
    padding-left: 10px;
}

.input-image {
    margin-top:20px;

    font-size: 15px;
}

.upload-webcam-button, .upload-image-button {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 3px;
}

#output {
    visibility: hidden;
}

.image-predict-button, .image-delete-button {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#im {
    margin-top: 10px;
}
.banner {
    position: relative;
    width: 1500px;
    height: 500px;
    margin:0 auto;
    padding:0; 
    overflow: hidden;
}
.banner ul {
    position: absolute;
    margin: 0px; 
    padding:0; 
    list-style: none; 
}
.banner ul li {
    float: left;
    width: 1500px;
    height: 500px;
    margin:0; 
    padding:0;
}

.banner ul li img {
    width: 1500px;
    height: 500px; 
}

#nlogin {
    position: absolute;
    top: 30%;
    left: 40%;
}

#trip {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: auto;
}

#em {
    margin-left: 10px;
}

.homeHeader {
    display: flex;
    align-items: center;
    // justify-content: center;
    background: #dcad67;
    color: black;
    li {
        display: inline-block;
        font-size:20px;
        font-family: 'NanumBarunGothic', monospace;
        text-align: center;
        padding: 5px;
        margin-right: 50px;
        color: white;
        font-weight: bolder;
        transition: 0.3s;
        cursor: pointer;
    }
    li:hover {
        //transform: scale(1.1);
        color:#8b4513;
        box-shadow: 0 -2px 0 0px #8b4513 inset; 
        //background-color: black;
        //color: white;
    }
    & img {
        margin-left:20px;
        margin-right:20px;
        height:60px;
        cursor: pointer;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#browseTop {
    width: 100%;
    height:56px;
    padding: 8px;
    text-align: center;
    background-color: #906D3b
}

#info {
    display: inline-block;
    position: relative;
    z-index: 10000;
    width: 25%;
    height: 40px;
    padding: 6px;
    border-radius: 10px;
    background-color:white;
    text-align: center;
    font-family: 'NanumBarunGothic', 'serif';
    font-size: 28px;
    font-weight: bold;
    color: #8b4513
}

#roadmapTop {
    width: 100%;
    height:56px;
    padding: 8px;
    text-align: center;
    background-color: #906D3b
}

#roadmapCategory {
    width: 100%;
    padding: 10px;
    background-color: #906D3b
}

#btn-category {
	box-shadow:inset 0px 0px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:42px;
	border:2px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
    font-weight:bold;
    
	padding:7px 15px;
	text-decoration:none;
    text-shadow:0px 0px 50px #cc9f52;
    margin-right: 5px;
}

#btn-category:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}

#btn-category:active {
	position:relative;
	top:1px;
}


  