html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background: #ebebeb;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

::placeholder {
    color: #ccc;
    font-size: 15px;
}


.header {
    display: flex;
    align-items: center;
    // justify-content: center;
    background: #000;
    color: #fff;
    margin-bottom: 50px;
    & p {
        font-size:25px;
        margin:25px;
    }
    & img {
        margin-left:25px;
        height:50px;
        cursor: pointer;
    }
}

.title-input, .writer-input {
    padding: 10px 10px 10px 0px;
    border: none;
    outline: none;
}

.title-input::placeholder {
    font-size: 18px;
}


.add-btn {
    padding: 5px 10px;
    margin: 20px;
    border: none;
    color: #000;
    outline: none;
    font-size: 10px;
    cursor: pointer;
}   

.note-editor {    
    max-width: 600px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 16px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    border-radius: 3px;
    .tArea {
        border-radius: 3px;
        overflow: auto;
        font-size: 13px;
        height: 180px;
        padding: 10px;
        resize: none;
        margin-top:4px;
        border: 1px solid rgba(0,0,0,.15);
        &:hover {
            outline: 0;
        }
        &:focus {
            outline: 0;
        }
    }
    
}

.note-title {
    margin-right: 15px;
    outline: none;
}

.noteContainer {
    column-count: 4;
    column-gap: 1em;
    margin: 50px 25px;
    width: 80%;
    height: 100%;
}

.note {
    position: relative;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,90,250,0.05),
      0 4px 4px rgba(0,90,250,0.05),
      0 8px 8px rgba(0,90,250,0.05),
      0 16px 16px rgba(0,90,250,0.05);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    background: #fff;
    padding: 20px;
    word-break: break-word;
    cursor: pointer;
    grid-row-end: span 1;
}

.note-editor-bottom {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-wrap: wrap;
}

.delete {
    position: absolute;
    right: 25px;
    top: 25px;
}

.input-else, .selects {
    font-size: 15px;
}

.note-bottom {
    text-align: right;
}

.date-text {
    font-style: italic;
    font-size:15px;
    padding:3px;
    background-color: lightgoldenrodyellow;
}

.writer-text {
    padding:3px;
    font-size:15px;
}

#img-writer {
    width: 15px;
    height: 15px;
}

.due-label {
    padding-left: 5px;
    padding-right: 5px;
}

.more {
    position: absolute;
    right: 45px;
    top: 25px;
}

.menuselect {
    position: absolute;
    right: 5px;
    top: 50px;
}

#fav-color {
    position: absolute;
    right: 20px;
    top: 50px;
}

#fa-edit {
    position: absolute;
    right: 70px;
    top: 25px;
}

.bar {
    z-index: 5;
    padding: 20px;
    padding-left: 30px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bar-comp {
    font-family: "Comic Sans MS";
    font-size: 15px;
    display: inline;
    margin: 5px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ccc;
    border-radius: 30px 1px;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.15);
}

#note-filter {
    font-family: "Comic Sans MS";
    background-color: #ccc;
    border: none;
}

#favcolor {
    margin-right:55px;
}

.categoryInput {
    width: 80px;
}
.fa-search {
    width: 50px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    border-radius: 1.5em;
    font-size: 1rem;
    cursor: pointer;
    background: gold;
}

.fa-undo {
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin-left: 4px;
    display: block;
    text-align: center;
    border-radius: 1.5em;
    font-size: 1rem;
    cursor: pointer;
    background: rgb(154, 224, 48);
}

.noteSearchMenu {
    position: relative;
    margin-left: auto; 
    margin-right: auto;
    width: 30%;
    display: flex;
    height: 40px;
    font-weight: 100;
}

.noteSearchMenu input[type="search"] {
    flex: 1;
    margin-right: 10px;
    border: 0;
    border-radius: 1.5em;
    font-size: 1rem;
  }
.note-directory {
    width: 100%;
    height: 600px;
    overflow: auto;
}


.allNote {
    display: flex;
}

.noteList {
    position: relative;
    width: 20%;
    top: -30px;
    margin: 0px 25px 0px 0px;
    h2 {
        text-align: center;
    }
}

.listNote {
    background-color: lightyellow;
    padding: 5px;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.effectButton{
    width: 22px;
    border-radius: 5px 5px 5px 5px;
    font-size: 10px;
    //background-color: lightcyan;
    margin-right: 5px;
    margin-bottom: 2px;
    padding: 3px 5px;
    //border: 1px solid black;
    cursor: pointer;
}

.note-title {
    font-weight: bold;
    position: relative;
    margin-top: 30px;
}

.input-color {
    z-index: 2;
}

.input-search {
    padding-left: 10px;
}

.input-image {
    margin-top: 20px;
    font-size: 15px;
}

.upload-button {
    margin-left: 10px;
    margin-bottom: 20px;;
}